@model IList<Pokemon>
@{
}

@foreach (Pokemon pokemon in Model)
{
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@pokemon.Imagen" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@pokemon.Nombre</h5>
                <p class="card-text">
                    <ul>
                        <li>
                            Tipo: @pokemon.Tipo
                        </li>
                        <li>
                            Peso: @pokemon.Peso
                        </li>
                        <li>
                            Altura: @pokemon.Altura
                        </li>
                        <li>
                            Es Chainih?: @(pokemon.esChainih ? "Si" : "No")
                        </li>
                    </ul>
                </p>
                <a href="/Pokemon/Ficha/@pokemon.ID" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
}